<!DOCTYPE html>

<th:block th:replace="~{/layout/mainLayout::setContent(~{this::content})}">
	<th:block th:fragment="content">
			
				<ul>
				<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
				<li th:each="dto:${list}">
				<a th:href="@{/deal/read(no=${dto.no})}">
				<div class="col mb-5">
				<img th:src="${dto.link}" alt=".."/>
					<div class="card h-100">
						<img class="card-img-top"
							src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
						<div class="card-body p-4">
							<div class="text-center">
								<h5 class="fw-bolder">[[${dto.title}]]</h5>
							</div>
							<div>가격 : [[${dto.price}]]원</div>
							<div>거래지역 : [[${dto.address}]]</div>
						</div>
					</div>
				</div>
				</a>
				</li>
				</div>
				</ul>
		
	</th:block>
</th:block>