<!DOCTYPE html>
<th:block
	th:replace="~{/layout/readLayout::setContent(~{this::content})}">
	<th:block th:fragment="content">
		<form th:action="@{/deal/modify}" th:method="post">
			<div class="container px-4 px-lg-5 my-5">
				<div class="row gx-4 gx-lg-5 align-items-center">
					<div class="col-md-6">
						<img class="card-img-top mb-5 mb-md-0"
							src="https://dummyimage.com/600x700/dee2e6/6c757d.jpg" alt="..." />
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<input type="text" class="form-control" name="no"
								th:value="${dto.no}" readonly Hidden=true>
						</div>
						<div class="form-group">
							<label>제목</label><input type="text" class="form-control"
								name="title" th:value="${dto.title}">
						</div>
						<div class="form-group">
							<label>판매자</label><input type="text" class="form-control"
								name="seller" th:value="${dto.seller}" readonly>
						</div>
						<div class="form-group">
							<label>내용</label>
							<textarea class="form-control" rows="5" name="content">[[${dto.content}]]</textarea>
						</div>
						<div class="form-group">
							<label>판매 가격</label><input type="text" class="form-control"
								name="price" th:value="${dto.price}">
						</div>
						<div class="form-group">
							<label>거래 지역</label><input type="text" class="form-control"
								name="address" th:value="${dto.address}">
						</div>
						<div class="form-group">
							<label>등록일</label><input type="text" class="form-control"
								th:value="${#temporals.format(dto.regDate,'yyyy/MM/dd HH:mm:SS')}"
								readonly>
						</div>
						<div class="form-group">
							<label>수정일</label><input type="text" class="form-control"
								th:value="${#temporals.format(dto.modDate,'yyyy/MM/dd HH:mm:SS')}"
								readonly>
						</div>
						<button type="submit"
							class="modifyBtn btn btn-outline-dark flex-shrink-0">수정</button>
						<button type="submit"
							class="removeBtn btn btn-outline-danger flex-shrink-0">삭제</button>
					</div>
				</div>

			</div>

		</form>



		<script th:inline="javascript">
			var form = $("form");
			$(".modifyBtn").click(
					function() {
						if (!confirm("수정하시겠습니까?")) {
							return;
						}
						form.attr("action", "/deal/modify").attr("method",
								"post").submit();
					});
			$(".removeBtn").click(
					function() {
						if (!confirm("삭제하시겠습니까?")) {
							return;
						}
						form.attr("action", "/deal/remove").attr("method",
								"post").submit();
					});
		</script>
	</th:block>
</th:block>