<!DOCTYPE html>
<th:block
	th:replace="~{/layout/readLayout::setContent(~{this::content})}">
	<th:block th:fragment="content">
			<div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="https://dummyimage.com/600x700/dee2e6/6c757d.jpg" alt="..." /></div>
                    <div class="col-md-6">
                    <div class="small mb-1">등록일:[[${#temporals.format(dto.regDate,'yyyy/MM/dd')}]]</div>
                        <h2 class="display-5 fw-bolder">[[${dto.title}]]</h2>
                        <div class="fs-5 mb-5">              
                            <h1>[[${dto.price}]]원</h1>
                        </div>
                        <p class="lead">[[${dto.content}]]</p>
                        <div class="d-flex">
                            <span class="text-center">거래지역 : [[${dto.address}]]</span>
                        </div>
                        <div class="d-flex">
                            <span class="text-center">판매자:[[${dto.seller}]]</span>
                        </div>
                        <a th:href="@{/deal/modify(no=${dto.no})}">
					<button class="btn btn-outline-dark flex-shrink-0" type="submit">
						수정하기
					</button>
				</a>
                    </div>
                </div>
            </div>
	</th:block>
</th:block>

