<!DOCTYPE html>
<th:block
	th:replace="~{/layout/readLayout::setContent(~{this::content})}">
	<th:block th:fragment="content">
		<div class="container px-4 px-lg-5 my-5">
			<div class="row gx-4 gx-lg-5 align-items-center">
				<div class="col-md-6">
					<img class="card-img-top mb-5 mb-md-0"
						src="https://dummyimage.com/600x700/dee2e6/6c757d.jpg" alt="..." />
				</div>
				<div class="col-md-6">
					<h1>판매 등록</h1>
					<form th:action="@{/deal/register}" th:method="post">
						<div class="form-group">
							<label>제목</label><input type="text" class="form-control" name="title">
						</div>
						<div class="form-group">
							<label>판매자</label><input type="text" class="form-control" name="seller">
						</div>
						<div class="form-group">
							<label>내용</label>
							<textarea class="form-control" rows="8" name="content"></textarea>
						</div>
						<div class="form-group">
							<label>판매 가격</label><input type="text" class="form-control" name="price">
						</div>
						<div class="form-group">
							<label>거래 지역</label><input type="text" class="form-control" name="address">
						</div>
						<button type="submit" class="btn btn-outline-dark flex-shrink-0">판매
							등록</button>
					</form>
				</div>
			</div>
		</div>
		
	</th:block>
</th:block>